<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Techbench</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script> -->

	</script>
</head>

<body>
	<nav>
		<div class="container">
			<div class="links logo">
				<a href="{{url_for('home')}}">
					<img src="{{url_for('static', filename='img/Techbench.png')}}">
				</a>
			</div>
			<div class="links">
				<a href="">

				</a>
			</div>
			<div class="links">
				<a href="#">

				</a>
			</div>
			<div class="auth">

				<div class="links">
					<a href="{{url_for('login')}}">login</a>
				</div>
				<div class="links">
					<a href="url_for('register')">Register</a>
				</div>
				<div class="links">
					<a href="url_for('logout')">Logout</a>
				</div>
			</div>
		</div>
	</nav>

	{% with messeges = get_flashed_messages() %}
	{% if messeges %}
	<ul>
		{% for messege in messeges %}
		<li>{{ messege }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<main>
		{% block content %} {% endblock %}
	</main>
	<footer>

	</footer>
</body>

</html>
